<h1>Wood</h1>

We don't need trees, do we? <br />
<br />
<b>Level:</b> {{ building.level }}<br /> 
<br />
<b>Sawmill efficiency:</b>
{% include "game/include/property_widget.html" with property="property:sawmillefficiency" %}<br />
<b>Base wood produced by sawmills:</b>
{% include "game/include/property_widget.html" with property="internal[building:sawmill]:production:wood" %}<br />
<b>Additionnal wood produced by woodcutters:</b>
{% include "game/include/property_widget.html" with property="internal[task:job/woodcutter:workers]:production:wood" %}<br />
<br />
<b>Total wood production: </b> 
{% include "game/include/ressource_widget.html" with ressource="wood.production" filter="humanizeProd" %}<br />
<b>Current wood storage: </b>
{% include "game/include/ressource_widget.html" with ressource="wood.current" filter="humanizeQty" %}<br />

<h2>Jobs:</h2>

{% include "game/include/progress_list.html" with tasktags="job+sawmill" %}
{% include "game/include/possible_tasks.html" with tasktags="job+sawmill" %}

<h2>Projects:</h2>

{% include "game/include/progress_list.html" with tasktags="project+sawmill" %}
{% include "game/include/possible_tasks.html" with tasktags="project+sawmill" %}
